.masthead {
  height: 70vh;
  min-height: 500px;
  background-image: url('https://i.pinimg.com/originals/10/0b/b5/100bb5b73b8bb96d199ff550ab9ed2de.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

