{% extends "base.html" %}
{% block content %}
<div class="container">
    <!-- 
    <h1>Admin Zone</h1>
    <p>All the admins:</p>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">User</h5>
            <p class="card-text">The user says: <b>Ha</b></p>
        </div>
    </div>
    <br>
 -->
 <div class="alert alert-success" role="alert">
    <h3>Welcome to Admin zone</h3>
    <p class="lead">
        Here you can edit the content of this webpage.
      </p>
  </div>


  <p>All humans alive:</p>
  {% for human in humans %}
  <p>{{human.name}} ____ That is this humans name</p>
  {% endfor %}
  <hr>
  <!-- <p>All humans alive:</p>
    {% for human in humans %}
    <p>{{human.name}} haoo</p>
    {% endfor %}
    {% if new_human_form %}
    <p>Here you can create new Human</p>
    <form action="" method="name">
        {{ form.hidden_tag() }}
        <p>
            {{ new_human_form.name.label }}
            <br> {{ new_human_form.name(cols=32, rows=4) }}
            <br> {% for error in new_human_form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    </form>
    <form action="" method="full_name">
        {{ form.hidden_tag() }}
        <p>
            {{ new_human_form.full_name.label }}
            <br> {{ new_human_form.full_name(cols=32, rows=4) }}
            <br> {% for error in new_human_form.full_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    </form>
    <form action="" method="position">
        {{ form.hidden_tag() }}
        <p>
            {{ new_human_form.position.label }}
            <br> {{ new_human_form.position(cols=32, rows=4) }}
            <br> {% for error in new_human_form.position.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    </form>
    <form action="" method="email">
        {{ form.hidden_tag() }}
        <p>
            {{ new_human_form.email.label }}
            <br> {{ new_human_form.email(cols=32, rows=4) }}
            <br> {% for error in new_human_form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    </form>
    <p>{{ new_human_form.submit() }}</p>
    {% endif %}
    <hr> -->
    <h2>Add News</h2>
    <form method="POST"  action="{{url_for('create_news')}}">
        <p>
            {{ news_form.csrf_token }}
            {{ news_form.post.label }} <br>
            {{ news_form.post}} <br>
            {% for error in news_form.post.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <!-- <button type="submit" class="btn btn-primary">{{ news_form.submit() }}</button> -->
        <!--## <p>{{ news_form.submit() }}</p> -->
        <input type="submit" value="Submit">
    </form>

    <h2>Add Humans</h2>
    <form method="POST" action="{{url_for('create_human')}}">
        {{ human_form.csrf_token }}

        {{ human_form.name.label }} <br>
        {{ human_form.name }} <br>
        {% for error in human_form.name.errors %}
          <span style="color: red;">[{{ error }}]</span><br>
          {% endfor %}

        {{ human_form.full_name.label }} <br>
        {{ human_form.full_name }} <br>

        {{ human_form.position.label }} <br>
        {{ human_form.position }} <br>

        {{ human_form.email.label }} <br>
        {{ human_form.email }} <br>

        {{ human_form.telephone.label }} <br>
        {{ human_form.telephone }} <br>

        <input type="submit" value="Submit">
    </form>   

    

 <!-- Navigation for editing different parts of the website -->
 <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">News</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Articles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">People</a>
    </li>
  </ul>

    <h2>Edit News</h2>
    {% for article in articles %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">New NAP-XPS pump</h5>
            <p class="card-text">{{ article.body|safe }}</p>
            <hr>
            <p class="text-right">
                </a>
                <a class="btn btn-primary" href="{{ url_for('.news_article', id=article.id) }}">
                        <i class="fa fa-eye"></i> View
                </a> 
                <a class="btn btn-primary" href="{{ url_for('.edit', id=article.id) }}">
                        <i class="fa fa-cog"></i> Edit  
                </a>
            </p>
        </div>
    </div></p>
    <br> {% endfor %}
    <hr>

    
    <!-- Form to submit new News post -->
    <!-- <h1>Hi, {{ current_user.username }}!</h1>
    <p>Here you can create new News Article</p>
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }} <br>
            {{ form.post(cols=32, rows=4) }} <br>
            {% for error in form.post.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %} -->
  
</div>
{% endblock %}