{% extends "base.html" %} {% block content %}
<div class="container breadcrumb-space">
    <!-- 
    <h1>Admin Zone</h1>
    <p>All the admins:</p>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">User</h5>
            <p class="card-text">The user says: <b>Ha</b></p>
        </div>
    </div>
    <br>
 -->
    <div class="alert alert-success" role="alert">
        <h3>Welcome to Admin zone!</h3>
        <p class="lead">
            Here you can edit the content of this webpage.
        </p>
        <div class="row">
            <div class="col-md-4">
                <a href="/edit-news">Edit news</a>
            </div>
            <div class="col-md-4">
                <a href="/edit-people">Edit people</a>
            </div>
            <div class="col-md-4">
                <a href="/edit-articles">Edit articles</a>
            </div>
        </div>
    </div>

    <!-- <p>All humans alive:</p>
    {% for human in humans %}
    <p>{{human.full_name}} ____ That is this humans name</p>
    {% endfor %}
    <hr> -->

    <!-- <p>All humans alive:</p>
    {% for human in humans %}
    <p>{{human.name}} haoo</p>
    {% endfor %}
    {% if new_human_form %}
    <p>Here you can create new Human</p>
    <form action="" method="name">
        {{ form.hidden_tag() }}
        <p>
            {{ new_human_form.name.label }}
            <br> {{ new_human_form.name(cols=32, rows=4) }}
            <br> {% for error in new_human_form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    </form>
    <form action="" method="full_name">
        {{ form.hidden_tag() }}
        <p>
            {{ new_human_form.full_name.label }}
            <br> {{ new_human_form.full_name(cols=32, rows=4) }}
            <br> {% for error in new_human_form.full_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    </form>
    <form action="" method="position">
        {{ form.hidden_tag() }}
        <p>
            {{ new_human_form.position.label }}
            <br> {{ new_human_form.position(cols=32, rows=4) }}
            <br> {% for error in new_human_form.position.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    </form>
    <form action="" method="email">
        {{ form.hidden_tag() }}
        <p>
            {{ new_human_form.email.label }}
            <br> {{ new_human_form.email(cols=32, rows=4) }}
            <br> {% for error in new_human_form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    </form>
    <p>{{ new_human_form.submit() }}</p>
    {% endif %}
    <hr> -->

    <hr>

    <h2>Add Humans</h2>
    <div class="row">
        <div class="col">
            {{ human_form.csrf_token }} {{ human_form.full_name.label }}
            <br>{{ human_form.full_name }}

        </div>
        <div class="col">
            {{ human_form.full_name_cz.label }}
            <br> {{ human_form.full_name_cz }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ human_form.position.label }}
            <br> {{ human_form.position }}
        </div>
        <div class="col">
            {{ human_form.email.label }}
            <br> {{ human_form.email }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ human_form.telephone.label }}
            <br> {{ human_form.telephone }}
        </div>
        <div class="col">
            {{ human_form.links.label }}
            <br> {{ human_form.links }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ human_form.orcid.label }}
            <br> {{ human_form.orcid }}
        </div>
        <div class="col">
            {{ human_form.researcher_id.label }}
            <br> {{ human_form.researcher_id }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ human_form.scopus_id.label }}
            <br> {{ human_form.scopus_id }}
        </div>
        <div class="col">
            {{ human_form.slug.label }}
            <br> {{ human_form.slug }}
        </div>
    </div>
    <div class="row">
            <div class="col">
                {{ human_form.about_text.label }}
                <br> {{ human_form.about_text }}
            </div>
    </div>
    
    {{ human_form.submit }}
    <input type="submit" value="Submit">
    <br>

    <!-- Navigation for editing different parts of the website -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">News</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">People</a>
        </li>
    </ul>



    <h2>Edit Humans</h2>
    {% for human in humans %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">A human</h5>
            <p class="card-text">Full name: {{ human.full_name }}</p>
            <p class="card-text">Position: {{ human.position }}</p>
            <a class="btn btn-danger" href="{{ url_for('.delete-human', id=human.id) }}">
                <i class="fa fa-eye"></i> Delete
            </a>
        </div>
    </div>
    </p>
    <br> {% endfor %}
    <hr>


    <!-- Form to submit new News post -->
    <!-- <h1>Hi, {{ current_user.username }}!</h1>
    <p>Here you can create new News Article</p>
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }} <br>
            {{ form.post(cols=32, rows=4) }} <br>
            {% for error in form.post.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %} -->

</div>
{% endblock %}