{% extends "base.html" %} {% set active_page = "ceric" %} {% block content %}
<div class="container breadcrumb-space">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="./">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">CERIC</li>
        </ol>
    </nav>
    <h2>CERIC</h2>
    <div class="row">
        <div class="col-sm-12">
            <p>We are a
                <a href="https://www.ceric-eric.eu/about-us/who-we-are/" target="_blank">Partner Facility</a> of the
                <a href="https://www.ceric-eric.eu/" target="_blank">Central European Research Infrastructure Consortium (CERIC)</a>, which is one of the
                <a href="https://ec.europa.eu/research/infrastructures/index.cfm?pg=eric"
                    target="_blank">ERIC</a>s.
                <a href="https://www.cuni.cz/UKEN-1.html">Charles University</a> is the
                <a href="https://www.ceric-eric.eu/about-us/who-we-are/" target="_blank">Representing Entity</a> of the Czech Republic to CERIC. We operate
                <a href="/ceric-open-access">four instruments</a> available for
                <a href="https://www.ceric-eric.eu/users/open-access/" target="_blank">Open Access</a> by researchers from all over the world. Three of these instruments are located in our Surface
                Physics Laboratory in Prague, the remaining one being a beamline at the
                <a href="https://www.elettra.trieste.it/"
                    target="_blank">Elettra synchrotron</a> in Trieste (Italy). You can apply for measurement time on the instruments in regular
                calls for open access proposals, which are issued by CERIC twice a year.</p>
            <hr />
        </div>
    </div>
    {% endblock %}