{% extends "base.html" %} {% set active_page = "ceric" %} {% block content %}
<div class="container breadcrumb-space">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="./">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">CERIC</li>
        </ol>
    </nav>
    <h2>CERIC</h2>
    <div class="row">
        <div class="col-sm-12">
            <p>We are a
                <a href="https://www.ceric-eric.eu/about-us/who-we-are/" target="_blank">Partner Facility</a> of the
                <a href="https://www.ceric-eric.eu/" target="_blank">Central European Research Infrastructure Consortium (CERIC)</a>, which is one of the
                <a href="https://ec.europa.eu/research/infrastructures/index.cfm?pg=eric" target="_blank">ERIC</a>s.
                <a href="https://www.cuni.cz/UKEN-1.html">Charles University</a> is the
                <a href="https://www.ceric-eric.eu/about-us/who-we-are/" target="_blank">Representing Entity</a> of the Czech Republic to CERIC. We operate
                <a href="/ceric-open-access">four instruments</a> available for
                <a href="https://www.ceric-eric.eu/users/open-access/" target="_blank">Open Access</a> by researchers from all over the world. Three of these instruments are located in our Surface
                Physics Laboratory in Prague, the remaining one being a beamline at the
                <a href="https://www.elettra.trieste.it/" target="_blank">Elettra synchrotron</a> in Trieste (Italy). You can apply for measurement time on the instruments in regular
                calls for open access proposals, which are issued by CERIC twice a year.</p>
            <hr />
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="font-weight-light">CERIC Call for proposals</h2>
            <br>
        </div>
        <div class="col-md-3">
            <img src="../static/img/ceric.png" class="img-fluid">
        </div>
        <div class="col-md-9">
            <p>CERIC has opened the regular call for Open Access proposals. You can now apply for measurement time in January–June
                2020. The deadlines for proposal submission are</p>
            <ul>
                <li>
                    <strong>September 2</strong>, 2019, 5:00 p.m. CEST to have a pre-evaluation and the possibility to improve your
                    proposal,
                </li>
                <li>
                    <strong>September 30</strong>, 2019, 5:00 p.m. CEST for the final submission.</li>
            </ul>
        </div>
        <div class="col-md-12">
            <p>
                <a href="https://www.ceric-eric.eu/" target="_blank">CERIC-ERIC</a>, the Central European Research Infrastructure Consortium, offers access to more than 50 complementary
                state-of-the-art instruments and laboratories for research in materials, biomaterials, and nanotechnology.
                We operate four of the instruments:
                <a href="/articles/near-ambient-pressure-x-ray-and-ultraviolet-photoelectron-spectroscopies-47">NAP XPS</a>,
                <a href="/articles/x-ray-photoelectron-spectroscopy-and-diffraction-63">XPD</a>,
                <a href="/articles/field-emission-scanning-electron-microscope-126">FESEM</a>, and
                <a href="/articles/materials-science-beamline-end-station-292">the MSB end station</a>. Read more about
                <a href="https://www.ceric-eric.eu/users/open-access/" target="_blank">Open Access</a> or the
                <a href="https://www.ceric-eric.eu/users/call-for-proposals/" target="_blank">present call</a>, or go directly to the
                <a href="http://vuo.elettra.trieste.it/" target="_blank">submission system</a>.</p>
        </div>
    </div>
    {% endblock %}