{% extends "base.html" %} {% set active_page = "contact" %} {% block content %}

<div class="container breadcrumb-space">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="./">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Contact</li>
        </ol>
    </nav>

    <h2 class="font-weight-light">Nanomaterials Group</h2>
    <div class="row">
        <div class="col-md-6">
            <h4 class="font-weight-light">Postal adress:</h4>
            <p><strong>Nanomaterials Group</strong>
                <br />Charles University
                <br />V Holešovičkách 747/2
                <br />180 00 Praha 8
                <br />Czech Republic</p>
        </div>
        <div class="col-md-6">
            <h4 class="font-weight-light">Poštovní adresa:</h4>
            <p><strong>Skupina nanomateriálů</strong>
                <br />Katedra fyziky povrchů a plazmatu MFF UK
                <br />V Holešovičkách 747/2
                <br />180 00 Praha 8
                <br />Česká Republika</p>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <h4 class="font-weight-light">How to get here:</h4>
            <img src="../static/img/contact/bus.png" class="img-fluid" alt="Responsive image">
        </div>
    </div>
    <hr>
    <h2 class="font-weight-light">MSB Trieste</h2>
    <p><strong>Materials Science Beamline</strong>
        <br />Charles University at Elettra-Sincrotrone
        <br />Strada statale 14, km 163.5
        <br />34149 Basovizza (TS)
        <br />Italy</p>
    <p>Telephone to the MSB in Trieste: +39-040-375-8095</p>

</div>


{% endblock %}