{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Edit article</h1>
    <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.heading.label }} <br>
                {{ form.heading(cols=100, rows=1) }} <br>
                {{ form.post.label }} <br>
                {{ form.post(cols=100, rows=16) }} <br>
                {% for error in form.post.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
</div>
{% endblock %}