{% extends "base.html" %} {% set active_page = "science" %} {% block content %}
<div class="container breadcrumb-space">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="./">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">For students</li>
        </ol>
    </nav>
    <h2 class="font-weight-light">For Students</h2>
    <div class="row">
        <div class="col-sm-12">
            <p>You can find here the
                <strong>topics offered by our group</strong> for all types of
                <strong>theses</strong> and for
                <strong>Student Faculty Grants</strong> (SFGs). Most topics are available only in Czech or Slovak, some also in English.
                If you are interested in one, please contact the supervisor.</p>
            <p>
                <strong>Student Faculty Grants</strong> are intended for
                <strong>bachelor and master students or groups</strong> of such students. Formal applications in the autumn round
                must be submitted until
                <strong>Nov 15</strong>, so there is no reason to delay. The supervisor will advise you on preparing your proposal.
                Each student may participate in only one project in a round. Full conditions of SFGs can be found in the
                <a href="https://www.mff.cuni.cz/fakulta/predpisy/2017/2017stipendia.pdf">faculty scholarship rules</a> (in Czech), Articles 5(2–12).</p>
            <p>Faculty
                <strong>guidelines for theses</strong>:
                <a href="https://www.mff.cuni.cz/en/students/bachelor-and-master-thesis/guidelines-for-writing-a-bachelor-thesis">bachelor's</a>,
                <a href="https://www.mff.cuni.cz/en/students/bachelor-and-master-thesis/guidelines-for-writing-a-master-thesis">master's</a>.</p>
            <hr />
        </div>
    </div>

    <h2 class="font-weight-light">Offered Theses and Projects</h2>

    <div class="row">
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="http://placehold.it/350x200" alt="">
                <div class="overlay">
                    <a class="info" href="/summer-projects">Find out more</a>
                </div>
            </div>
            <h4 class="font-weight-light text-center">Summer Projects</h4>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="http://placehold.it/350x200" alt="">
                <div class="overlay">
                    <a class="info" href="/bachelors-theses">Find out more</a>
                </div>
            </div>
            <h4 class="font-weight-light text-center">Bachelor's Theses</h4>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="http://placehold.it/350x200" alt="">
                <div class="overlay">
                    <a class="info" href="/masters-theses">Find out more</a>
                </div>
            </div>
            <h4 class="font-weight-light text-center">Master's Theses</h4>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="http://placehold.it/350x200" alt="">
                <div class="overlay">
                    <a class="info" href="/doctoral-theses">Find out more</a>
                </div>
            </div>
            <h4 class="font-weight-light text-center">Doctoral Theses</h4>
        </div>
        <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="http://placehold.it/350x200" alt="">
                <div class="overlay">
                    <a class="info" href="#">link here</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <h4 class="font-weight-light text-center">Summer Projects</h4>
        </div>
        <div class="col-sm-6 col-xs-12">
            <h4 class="font-weight-light text-center">Bachelor's Theses</h4>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="http://placehold.it/350x200" alt="">
                <div class="overlay">
                    <a class="info" href="#">link here</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="http://placehold.it/350x200" alt="">
                <div class="overlay">
                    <a class="info" href="#">link here</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <h4 class="font-weight-light text-center">Master's Theses</h4>
        </div>
        <div class="col-sm-6 col-xs-12">
            <h4 class="font-weight-light text-center">Doctoral Theses</h4>
        </div> -->
    </div>
    {% endblock %}