{% extends "base.html" %} {% set active_page = "research" %} {% block content %}
<div class="container breadcrumb-space">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="./">Home</a>
            </li>
            <li class="breadcrumb-item">
                    <a href="/research">Our Research</a>
                </li>
            <li class="breadcrumb-item active" aria-current="page">Fuel Cells</li>
        </ol>
    </nav>
    <h1 class="font-weight-light">Fuel Cells</h1>
    <p>Text.</p>
</div>
{% endblock %}