{% extends "base.html" %} {% set active_page = "science" %} {% block content %}
<div class="container breadcrumb-space">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="./">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Grants</li>
        </ol>
    </nav>
    <h2>Our Grants</h2>
    <div class="row">
        <div class="col-sm-12">
            <p></p>
        </div>
    </div>
    {% for grant in grants %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ grant.heading }}</h5>
            <p>{{ grant.body }}</p>
            <a style="float: right;" href="grant/{{ grant.id }}">View</a>
        </div>
    </div>
    <br> {% endfor %}
    {% endblock %}