{% extends "base.html" %}
{% block content %}

<!-- Page Content -->
<main role="main">
  <!-- Full Page Image Header with Vertically Centered Content -->
  <div class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h1 class="font-weight-light text-center text-light">Welcome to Nanomaterials Group!</h1>
          <hr>
          <p class="lead text-light">We are a research group at the Department of Surface and Plasma Science of the Faculty of Mathematics and Physics
            of the Charles University. We work in three main areas: basic research in nanomaterials, offering open access
            to several scientific instruments through CERIC, applied research in fuel cell technology. We are among the Large
            Research Infrastructures supported by the Czech Ministry of Education, Youth and Sports (grants SPL-MSB and OP
            VVV SPL-MSB).
        </div>
      </div>
    </div>
  </div>
  <br>

  <!-- <div class="container">
    <div class="jumbotron">
      <h1 class="font-weight-light">Welcome to Nanomaterials Group!</h1>
      <p class="lead">We are a research group at the Department of Surface and Plasma Science of the Faculty of Mathematics and Physics of
        the Charles University. We work in three main areas: basic research in nanomaterials, offering open access to several
        scientific instruments through CERIC, applied research in fuel cell technology. We are among the Large Research Infrastructures
        supported by the Czech Ministry of Education, Youth and Sports (grants SPL-MSB and OP VVV SPL-MSB).
    </div>
  </div> -->

  <div class="container">
    <!-- Heading Row -->
    <div class="row align-items-center my-5">


      <div class="container">
        <!-- Example row of columns -->
        <div class="row text-center">
          <div class="col-md-4 align-self-end">
            <img class="rounded-circle" src="../static/img/technology.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Research</h2>
            <p class="row text-left"> Find out more about our research: instruments we use, grants we have, and our publications.</p>
            <p class="align-self-end">
              <a class="btn btn-secondary" href="#" role="button">Find out more! &raquo;</a>
            </p>
          </div>
          <div class="col-md-4 align-self-end">
            <img class="rounded-circle" src="../static/img/pat_mat.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Students</h2>
            <p class="row text-left">Are you interested in studying nanomaterials? We offer theses as well as summer projects.</p>
            <p class="align-self-end">
              <a class="btn btn-secondary" href="#" role="button">Find out more! &raquo;</a>
            </p>
          </div>
          <div class="col-md-4 align-self-end">
            <img class="rounded-circle" src="../static/img/access.png" alt="Generic placeholder image" width="140" height="140">
            <h2>CERIC</h2>
            <p class="row text-left">We are part of CERIC infrastracture, find out more about how you can cooperate with us.</p>
            <p class="align-self-end">
              <a class="btn btn-secondary" href="#" role="button">Find out more! &raquo;</a>
            </p>
          </div>

        </div>
        <!-- row -->

        <hr>
      </div>
      <!-- /container -->
    </div>

    <div class="container">
      <!-- Page Heading -->
      <h1 class="font-weight-light">Our Projects</h1>

      <div class="row">
        <div class="col-lg-6 mb-4">
          <div class="card h-100">
            <a href="#">
              <img class="card-img-top" src="../static/img/thin-film.jpg" alt="" max-height="10">
            </a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Thin-film Catalysis</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam nulla perferendis dolor nobis
                numquam, rem expedita, aliquid optio, alias illum eaque. Non magni, voluptates quae, necessitatibus unde
                temporibus.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="card h-100">
            <a href="#">
              <img class="card-img-top" src="../static/img/fuel-cell.jpg" alt="" height="150">
            </a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Fuel Cells</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna
                varius vitae.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="card h-100">
            <a href="#">
              <img class="card-img-top" src="../static/img/gas-sensor.jpeg" alt="" height="150">
            </a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Gas sensors</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam nulla perferendis dolor nobis
                numquam, rem expedita, aliquid optio, alias illum eaque. Non magni, voluptates quae, necessitatibus unde
                temporibus.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="card h-100">
            <a href="#">
              <img class="card-img-top" src="../static/img/car.png" alt="" height="150">
            </a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Real World Application</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna
                varius vitae.</p>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
    </div>
    <!-- /.container -->
</main>
{% endblock %}