{% extends "base.html" %} {% set active_page = "science" %} {% block content %}
<div class="container breadcrumb-space">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="./">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/for-students">For Students</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Master's Theses</li>
        </ol>
    </nav>
    <h2 class="font-weight-light">Master's Theses</h2>
    <div class="row">
        <div class="col-sm-12">
            <p></p>
        </div>
    </div>
</div>
{% endblock %}