{% extends "base.html" %}

{% set active_page = "news" %}

{% block content %}
<div class="container">
    <h1>News</h1>
    <p>Below are the news from our group:</p>
    {% for article in articles %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">New NAP-XPS pump</h5>
            <p class="card-text">{{ article.body|safe }}</p>
            <a style="float: right;" href="{{ url_for('.news_article', id=article.id) }}">View</a>
            <img src="static/img/ceo.jpeg" width="50" height="50">
            <img src="{{url_for('static', variable="img", filename='img/ceo.jpeg')}}" />
            <p>"{{ article.body }}"</p>
        </div>
    </div>
    <br> 
    {% endfor %}

    <ul class="pagination">
        {% if prev_url %}
            <li class="page-item"><a class="page-link" href="{{ prev_url }}">Newer</a></li>
        {% elif not prev_url %}
        <li class="page-item disabled"><a class="page-link" href="{{ prev_url }}">Newer</a></li>
        {% endif %}
        {% if next_url %}
        <li class="page-item"><a class="page-link" href="{{ next_url }}">Older</a></li>
        {% elif not next_url %}
        <li class="page-item disabled"><a class="page-link" href="{{ next_url }}">Older</a></li>
        {% endif %}
    </ul>

</div>
{% endblock %}