{% extends "base.html" %} {% set active_page = "research" %} {% block content %}
<div class="container breadcrumb-space">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="./">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">OPVVV</li>
        </ol>
    </nav>
    <h1 class="font-weight-light">OPVVV</h1>
    <p>Text.</p>

    <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="http://placehold.it/350x200" alt="">
                <div class="overlay">
                    <a class="info" href="/opvvv/splmsb">Find out more</a>
                </div>
            </div>
            <a href="/opvvv/pacng">
                <h4 class="font-weight-light text-center">OPVVV SPL-MSB</h4>
            </a>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="http://placehold.it/350x200" alt="">
                <div class="overlay">
                    <a class="info" href="/opvvv/pacng">Find out more</a>
                </div>
            </div>
            <a href="/opvvv/pacng">
                <h4 class="font-weight-light text-center">OPVVV PaC-NG</h4>
            </a>
        </div>
    </div>
</div>
{% endblock %}