{% extends "base.html" %} {% set active_page = "research" %} {% block content %}
<div class="container breadcrumb-space">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="../">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/opvvv">OP VVV</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">OP VVV</li>
        </ol>
    </nav>
    <h1 class="font-weight-light">OP VVV PaC-NG</h1>
    <div class="row">
            <div class="col-sm-12">
                <p><a href="#cs-text">→Česká verze</a></p>
<p>The goal of the PaC-NG project is basic development of advanced thin-film nanocatalysts with low precious metal content and of their corrosion-resistant supports for stacks of hydrogen fuel cells with polymer membranes. At the same time, research on the specifics of application to large electrodes will be carried out as a preparation for future up-scaling of the technologies for stacks with active surfaces larger than 200 cm<sup>2</sup> and powers of up to 5 kW, applicable in small and medium-sized stationary and mobile power sources.</p>
<table style="margin-bottom: 12px;">
<tbody>
<tr>
<td style="padding: 1px 5px 1px 0px;">Project name:</td>
<td style="padding: 1px 0px;">Fuel Cells with Low Platinum Content</td>
</tr>
<tr>
<td style="padding: 1px 5px 1px 0px;">Acronym:</td>
<td style="padding: 1px 0px;"><span title="Palivové články nové generace - New Generation Fuel Cells">PaC-NG</span></td>
</tr>
<tr>
<td style="padding: 1px 5px 1px 0px;">Grant provider:</td>
<td style="padding: 1px 0px;"><a title="Ministry of Education, Youth and Sports" href="http://www.msmt.cz/?lang=2" target="_blank">MŠMT</a>/EU</td>
</tr>
<tr>
<td style="padding: 1px 5px 1px 0px;">Programme:</td>
<td style="padding: 1px 0px;"><a title="Operační program Výzkum, vývoj a vzdělávání (only in Czech)" href="https://opvvv.msmt.cz/default.aspx" target="_blank">OP VVV</a></td>
</tr>
<tr>
<td style="padding: 1px 5px 1px 0px;">Call:</td>
<td style="padding: 1px 0px;">02_16_025 Pre-Application Research in Priority Axis 1</td>
</tr>
<tr>
<td style="padding: 1px 5px 1px 0px;">Project ID:</td>
<td style="padding: 1px 0px;">CZ.02.1.01/0.0/0.0/16_025/0007414</td>
</tr>
<tr>
<td style="padding: 1px 5px 1px 0px;">Duration:</td>
<td style="padding: 1px 0px;">Apr 2018 – Dec 2022</td>
</tr>
<tr>
<td style="padding: 1px 5px 1px 0px;">Budget for Charles Univ.:</td>
<td style="padding: 1px 0px;">CZK 48,698,002</td>
</tr>
<tr>
<td style="padding: 1px 5px 1px 0px;">Principal investigator:</td>
<td style="padding: 1px 0px;"><a href="/articles/vladimir-matolin-46">Prof. Vladimír Matolín</a></td>
</tr>
<tr>
<td style="padding: 1px 5px 1px 0px;">Project manager (Charles Univ.):</td>
<td style="padding: 1px 0px;"><a href="/articles/zdenka-bubenikova-229">Dr. Zdeňka Bubeníková</a></td>
</tr>
<tr>
<td style="padding: 1px 5px 1px 0px;">Partner organization:</td>
<td style="padding: 1px 0px;"><a href="https://www.vscht.cz/?jazyk=en" target="_blank">University of Chemistry and Technology, Prague</a></td>
</tr>
</tbody>
</table>
<p><a title="PaC-NG_RI+WP.pdf (29 KB)" href="/files/grants/PaC-NG_RI%2BWP.pdf">Project structure</a></p>
<p><a href="#publications">Publications</a></p>
<hr />
<p><a id="cs-text"></a>Cílem projektu PaC-NG je základní vývoj pokročilých tenkovrstvých nanokatalyzátorů s nízkým obsahem drahých kovů a jejich korozi odolných nosičů pro svazky vodíkových palivových článků s polymerní membránou. Zároveň proběhne výzkum specifik aplikace na velkoplošné elektrody jako příprava pro budoucí škálování technologií do svazků s aktivními plochami přes 200 cm<sup>2</sup> a výkony až 5 kW, využitelných v malých a středních stacionárních a mobilních zdrojích energie.</p>
<table style="margin-bottom: 12px;">
<tbody>
<tr>
<td style="padding: 1px 5px 1px 0px;">Název projektu:</td>
<td style="padding: 1px 0px;">Palivové články s nízkým obsahem platinových kovů</td>
</tr>
<tr>
<td style="padding: 1px 5px 1px 0px;">Zkrácený název:</td>
<td style="padding: 1px 0px;"><span title="Palivové články nové generace">PaC-NG</span></td>
</tr>
<tr>
<td style="padding: 1px 5px 1px 0px;">Poskytovatel grantu:</td>
<td style="padding: 1px 0px;"><a title="Ministerstvo školství, mládeže a tělovýchovy" href="http://www.msmt.cz/?lang=1" target="_blank">MŠMT</a>/EU</td>
</tr>
<tr>
<td style="padding: 1px 5px 1px 0px;">Program:</td>
<td style="padding: 1px 0px;"><a title="Operační program Výzkum, vývoj a vzdělávání" href="https://opvvv.msmt.cz/default.aspx" target="_blank">OP VVV</a></td>
</tr>
<tr>
<td style="padding: 1px 5px 1px 0px;">Výzva:</td>
<td style="padding: 1px 0px;">02_16_025 Předaplikační výzkum v prioritní ose 1 OP</td>
</tr>
<tr>
<td style="padding: 1px 5px 1px 0px;">Registrační číslo projektu:</td>
<td style="padding: 1px 0px;">CZ.02.1.01/0.0/0.0/16_025/0007414</td>
</tr>
<tr>
<td style="padding: 1px 5px 1px 0px;">Trvání:</td>
<td style="padding: 1px 0px;">4/2018 – 12/2022</td>
</tr>
<tr>
<td style="padding: 1px 5px 1px 0px;">Rozpočet pro UK:</td>
<td style="padding: 1px 0px;">48 698 002 Kč</td>
</tr>
<tr>
<td style="padding: 1px 5px 1px 0px;">Vedoucí výzkumu:</td>
<td style="padding: 1px 0px;"><a href="/articles/vladimir-matolin-46">Prof. RNDr. Vladimír Matolín, DrSc.</a></td>
</tr>
<tr>
<td style="padding: 1px 5px 1px 0px;">Manažerka projektu (UK):</td>
<td style="padding: 1px 0px;"><a href="/articles/zdenka-bubenikova-229">RNDr. Zdeňka Bubeníková, Ph.D.</a></td>
</tr>
<tr>
<td style="padding: 1px 5px 1px 0px;">Partnerská organizace:</td>
<td style="padding: 1px 0px;"><a href="https://www.vscht.cz/?jazyk=cs" target="_blank">Vysoká škola chemicko-technologická v Praze</a></td>
</tr>
</tbody>
</table>
<p><a title="PaC-NG_VZ+PB.pdf (29 KB)" href="/files/grants/PaC-NG_VZ%2BPB.pdf">Struktura projektu</a></p>
<p><a id="publications"></a>Seznam publikací:</p>
<ol>
<li>P. Kúš, A. Ostroverkh, I. Khalakhan, R. Fiala, Y. Kosto, B. Šmíd, Y. Lobko, Y. Yakovlev, J. Nováková, I. Matolínová, V. Matolín: <cite>Magnetron sputtered thin-film vertically segmented Pt-Ir catalyst supported on TiC for anode side of proton exchange membrane unitized regenerative fuel cells</cite>. <strong>Int. J. Hydrogen Energy</strong> (2019), <a href="https://doi.org/10.1016/j.ijhydene.2019.04.216" target="_blank">doi:10.1016/j.ijhydene.2019.04.216</a>.</li>
</ol>
            </div>
        </div>
</div>
{% endblock %}