{% extends "base.html" %} {% set active_page = "people" %} {% block content %}
<div class="container breadcrumb-space">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="./">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">People</li>
    </ol>
  </nav>
</div>
<div class="container">
  <h2 class="font-weight-light">Group Leader</h2>
  <div class="row">
    {% for human in people %} {% if human.group == 'group_leader'%}
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body text-center">
          <img class="img-thumbnail" src="http://via.placeholder.com/120x150" alt="Card image" max-width="140" max-height="140">
          <!-- <div class="img-square-wrapper">
                <img class="" src="http://via.placeholder.com/180x120" alt="Card image cap">
            </div> -->
          <a href="/people/{{ human.id }}">
            <h5 class="card-title">{{ human.full_name }}</h5>
          </a>
          <p class="text-muted">Group Leader</p>
          <!-- <img src="static/img/ceo.jpeg" width="50" height="50">
            <img src="{{url_for('static', variable="img", filename='img/ceo.jpeg')}}" /> -->
        </div>
      </div>

    </div>
  </div>
  <br> {% endif %}{% endfor %}

  <h2 class="font-weight-light">Administration</h2>
  <div class="row">
    {% for human in people %}
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body text-center">
          <img class="img-thumbnail" src="http://via.placeholder.com/120x150" alt="Card image" max-width="140" max-height="140">
          <!-- <div class="img-square-wrapper">
                <img class="" src="http://via.placeholder.com/180x120" alt="Card image cap">
            </div> -->
          <a href="/people/{{ human.id }}">
            <h5 class="card-title">{{ human.full_name }}</h5>
          </a>
          <p class="text-muted">Group Leader</p>
          <!-- <img src="static/img/ceo.jpeg" width="50" height="50">
            <img src="{{url_for('static', variable="img", filename='img/ceo.jpeg')}}" /> -->
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <br>


  <!-- <h2>People</h2>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body text-center">
          <img class="img-thumbnail" src="../static/img/matolinova.jpg" alt="Generic placeholder image" max-width="140" max-height="140">
          <h5 class="card-title">Dr. Iva Matolínová</h5>
          <p class="card-text text-left">
            <b>Position: </b>Associate professor, Group leader</p>
          <p class="card-text text-left">
            <b>Email: </b>e@mail.com</p>
          <p class="card-text text-left">
            <b>Telephone: </b>+42011122233</p>
          <p class="card-text text-left">
            <b>Links: </b>
            <a href="https://physics.mff.cuni.cz/kfpp/php/journal-autor.php?id=18&langen=1">Publications</a>
          </p>
          <a href="" class="btn btn-primary">View more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body text-center">
          <img class="img-thumbnail" src="https://nano.mff.cuni.cz/images/big_img/82c-SkorometsViktoriia.jpg" alt="Generic placeholder image"
            max-width="140" max-height="140">
          <h5 class="card-title">Marcela Chvalkovská</h5>
          <p class="card-text text-left">
            <b>Position: </b>Administrative secretary</p>
          <p class="card-text text-left">
            <b>Email: </b>e@mail.com</p>
          <p class="card-text text-left">
            <b>Telephone: </b>+42011122233</p>
          <p class="card-text text-left">
            <b>Links: </b>
            <a href="#">Web page</a>
          </p>
          <a href="#" class="btn btn-primary">View more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body text-center">
          <img class="img-thumbnail" src="https://nano.mff.cuni.cz/images/big_img/230c-ChvalkovskaMarcela.jpg" alt="Generic placeholder image"
            max-width="140" max-height="140">
          <h5 class="card-title">Viktoriia Skoromets</h5>
          <p class="card-text text-left">
            <b>Position: </b>Finance and administration</p>
          <p class="card-text text-left">
            <b>Email: </b>e@mail.com</p>
          <p class="card-text text-left">
            <b>Telephone: </b>+42011122233</p>
          <p class="card-text text-left">
            <b>Links: </b>
            <a href=""></a>
          </p>
          <a href="#" class="btn btn-primary">View more</a>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body text-center">
          <img class="img-thumbnail" src="../static/img/matolinova.jpg" alt="Generic placeholder image" max-width="140" max-height="140">
          <h5 class="card-title">Iva Matolínová</h5>
          <p class="text-muted">Group Leader</p>
          <p class="card-text text-left">
            <b>Email: </b>e@mail.com</p>
          <p class="card-text text-left">
            <b>Telephone: </b>+42011122233</p>
          <p class="card-text text-left">
            <b>Links: </b>
            <a href="https://physics.mff.cuni.cz/kfpp/php/journal-autor.php?id=18&langen=1">Publications</a>
          </p>
          <a href="#" class="btn btn-primary">View more</a>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body text-center">
          <img class="img-thumbnail" src="../static/img/matolinova.jpg" alt="Generic placeholder image" max-width="140" max-height="140">
          <a href="#">
            <h5 class="card-title">Iva Matolínová</h5>
          </a>
          <p class="text-muted">Group Leader</p>
        </div>
      </div>
    </div>
  </div> -->
  <br>
  <h2>Former employees and students</h2>
  <br>
  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Dr. Alfons
      <span class="badge badge-primary badge-pill">researcher</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Mgr. Bob
      <span class="badge badge-primary badge-pill">master's student</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Bc. Cecil
      <span class="badge badge-primary badge-pill">phd student</span>
    </li>
  </ul>
</div>

<!-- /container -->
{% endblock %}