{% extends "base.html" %}

{% set active_page = "people" %}

{% block content %}





<div class="container">
    <br>
    <h2>Group Leader </h2>
    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body text-center">
             <img class="img-thumbnail" src="../static/img/matolinova.jpg" alt="Generic placeholder image" max-width="140" max-height="140">
            <h5 class="card-title">Iva Matolínová</h5>
            <p class="card-text text-left"><b>Position: </b>Associate professor, Group leader</p>
            <p class="card-text text-left"><b>Email: </b>Associate professor, Group leader</p>
            <p class="card-text text-left"><b>Telephone: </b>Associate professor, Group leader</p>
            <p class="card-text text-left"><b>Links: </b><a href="" >Faculty web page</a> </p>
            <a href="#" class="btn btn-primary">Publications</a>
          </div>
        </div>
      </div>
    </div><!-- /row -->
    <h2>Administration </h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Marcelka</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary"></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Viktorie</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary"></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Zdeňka</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary"></a>
          </div>
        </div>
      </div>
    </div><!-- /row -->
  
  </div><!-- /container -->
{% endblock %}