{% extends "base.html" %} {% set active_page = "science" %} {% block content %}
<div class="container breadcrumb-space">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="./">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Publications</li>
        </ol>
    </nav>
    <h2>Recent publications</h2>
    <div class="row">
        <div class="col-sm-12">
            <p></p>
        </div>
    </div>
    <h2>Publications by year</h2>
    <div class="row">
        <div class="col-sm-12">
            <p> a
            <li>
                <a href="https://physics.mff.cuni.cz/kfpp/php/journal-kdy.php?rok=2019&amp;langen=1#7">2019</a>
            </li>
            <li>
                <a href="https://physics.mff.cuni.cz/kfpp/php/journal-kdy.php?rok=2018&amp;langen=1#7">2018</a>
            </li>
            <li>
                <a href="https://physics.mff.cuni.cz/kfpp/php/journal-kdy.php?rok=2017&amp;langen=1#7">2017</a>
            </li>
        </p>
        </div>
    </div>
    {% endblock %}