{% extends "base.html" %} {% set active_page = "research" %} {% block content %}
<div class="container breadcrumb-space">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="../">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/opvvv">OP VVV</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">OP VVV SPL-MSB</SPL-MSB>
            </li>
        </ol>
    </nav>
    <h1 class="font-weight-light">OP VVV SPL-MSB</h1>
    <p>
        <a href="#cs-text">→Česká verze</a>
    </p>
    <p>The SPL-MSB Research Infrastructure (RI) is a Czech laboratory within the European research infrastructure CERIC-ERIC.
        It consists of two parts, the Materials Science Beamline (MSB) at the Elettra synchrotron in Trieste and the Surface
        Physics Laboratory (SPL) in Prague. The main objective of the project is to modernize and upgrade the RI in order
        to provide conditions for top quality research relying on state-of-the-art experimental equipment, with focus on
        investigation of novel types of catalysts for electrocatalytic oxygen reduction, oxidation of hydrogen and reduction
        of toxic reactive oxygen species.</p>

    <table style="margin-bottom: 12px;">
        <tbody>
            <tr>
                <td style="padding: 1px 5px 1px 0px;">Project name:</td>
                <td style="padding: 1px 0px;">Surface Physics Laboratory – Materials Science Beamline</td>
            </tr>
            <tr>
                <td style="padding: 1px 5px 1px 0px;">Acronym:</td>
                <td style="padding: 1px 0px;">SPL-MSB</td>
            </tr>
            <tr>
                <td style="padding: 1px 5px 1px 0px;">Grant provider:</td>
                <td style="padding: 1px 0px;">
                    <a title="Ministry of Education, Youth and Sports" href="http://www.msmt.cz/?lang=2" target="_blank">MŠMT</a>/EU</td>
            </tr>
            <tr>
                <td style="padding: 1px 5px 1px 0px;">Programme:</td>
                <td style="padding: 1px 0px;">
                    <a title="Operační program Výzkum, vývoj a vzdělávání (only in Czech)" href="https://opvvv.msmt.cz/default.aspx" target="_blank">OP VVV</a>
                </td>
            </tr>
            <tr>
                <td style="padding: 1px 5px 1px 0px;">Call:</td>
                <td style="padding: 1px 0px;">02_16_013 Research Infrastructures in Priority Axis 1</td>
            </tr>
            <tr>
                <td style="padding: 1px 5px 1px 0px;">Project ID:</td>
                <td style="padding: 1px 0px;">CZ.02.1.01/0.0/0.0/16_013/0001788</td>
            </tr>
            <tr>
                <td style="padding: 1px 5px 1px 0px;">Duration:</td>
                <td style="padding: 1px 0px;">Dec 2016 – Dec 2019</td>
            </tr>
            <tr>
                <td style="padding: 1px 5px 1px 0px;">Budget:</td>
                <td style="padding: 1px 0px;">CZK 43,498,455</td>
            </tr>
            <tr>
                <td style="padding: 1px 5px 1px 0px;">Principal investigator:</td>
                <td style="padding: 1px 0px;">
                    <a href="/articles/vladimir-matolin-46">Prof. Vladimír Matolín</a>
                </td>
            </tr>
            <tr>
                <td style="padding: 1px 5px 1px 0px;">Project manager:</td>
                <td style="padding: 1px 0px;">
                    <a href="/articles/zdenka-bubenikova-229">Dr. Zdeňka Bubeníková</a>
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <a title="SPL-MSB_RP+WP.pdf (32 KB)" href="../static/files/grants/SPL-MSB_RP+WP.pdf">Project structure</a>
    </p>
    <p>
        <a href="#publications">Publications</a>
    </p>
    <hr />
    <p>
        <a id="cs-text"></a>Výzkumná Infrastruktura (VI) SPL-MSB je českou laboratoří v evropské výzkumné infrastruktuře CERIC-ERIC. Sestává
        ze dvou částí, Optické dráhy pro vědu o materiálech (MSB) na synchrotronu Elettra v Terstu a laboratoře fyziky povrchů
        (SPL) v Praze. Klíčovým cílem projektu je modernizovat VI a umožnit tím vysokou kvalitu výzkumu zaměřeného na studium
        nových typů katalyzátorů pro elektrokatalytickou redukci kyslíku, oxidaci vodíku a redukci toxických reaktivních
        forem kyslíku.</p>
    <table style="margin-bottom: 12px;">
        <tbody>
            <tr>
                <td style="padding: 1px 5px 1px 0px;">Název projektu:</td>
                <td style="padding: 1px 0px;">Laboratoř fyziky povrchů – Optická dráha pro výzkum materiálů</td>
            </tr>
            <tr>
                <td style="padding: 1px 5px 1px 0px;">Zkrácený název:</td>
                <td style="padding: 1px 0px;">SPL-MSB</td>
            </tr>
            <tr>
                <td style="padding: 1px 5px 1px 0px;">Poskytovatel grantu:</td>
                <td style="padding: 1px 0px;">
                    <a title="Ministerstvo školství, mládeže a tělovýchovy" href="http://www.msmt.cz/?lang=1" target="_blank">MŠMT</a>/EU</td>
            </tr>
            <tr>
                <td style="padding: 1px 5px 1px 0px;">Program:</td>
                <td style="padding: 1px 0px;">
                    <a title="Operační program Výzkum, vývoj a vzdělávání" href="https://opvvv.msmt.cz/default.aspx" target="_blank">OP VVV</a>
                </td>
            </tr>
            <tr>
                <td style="padding: 1px 5px 1px 0px;">Výzva:</td>
                <td style="padding: 1px 0px;">02_16_013 Výzkumné infrastruktury v prioritní ose 1 OP</td>
            </tr>
            <tr>
                <td style="padding: 1px 5px 1px 0px;">Registrační číslo projektu:</td>
                <td style="padding: 1px 0px;">CZ.02.1.01/0.0/0.0/16_013/0001788</td>
            </tr>
            <tr>
                <td style="padding: 1px 5px 1px 0px;">Trvání:</td>
                <td style="padding: 1px 0px;">12/2016 – 12/2019</td>
            </tr>
            <tr>
                <td style="padding: 1px 5px 1px 0px;">Rozpočet:</td>
                <td style="padding: 1px 0px;">43 498 455 Kč</td>
            </tr>
            <tr>
                <td style="padding: 1px 5px 1px 0px;">Vedoucí výzkumu:</td>
                <td style="padding: 1px 0px;">
                    <a href="/articles/vladimir-matolin-46">Prof. RNDr. Vladimír Matolín, DrSc.</a>
                </td>
            </tr>
            <tr>
                <td style="padding: 1px 5px 1px 0px;">Manažerka projektu:</td>
                <td style="padding: 1px 0px;">
                    <a href="/articles/zdenka-bubenikova-229">RNDr. Zdeňka Bubeníková, Ph.D.</a>
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <a title="SPL-MSB_VP+PB.pdf (32 KB)" href="/files/grants/SPL-MSB_VP%2BPB.pdf">Struktura projektu</a>
    </p>
    <p>
        <a id="publications"></a>Seznam publikací:</p>
    <ol>
        <li>M. Andrä, F. Dvořák, M. Vorokhta, S. Nemšák, V. Matolín, C. M. Schneider, R. Dittmann, F. Gunkel, D. N. Mueller,
            R. Waser:
            <cite>Oxygen partial pressure dependence of surface space charge formation in donor-doped SrTiO
                <sub>3</sub>
            </cite>.
            <strong>APL Mater. 5</strong> (2017) 056106,
            <a href="https://doi.org/10.1063/1.4983618" target="_blank">doi:10.1063/1.4983618</a>.</li>
        <li>J. Luo, M. Monai, C. Wang, J. D. Lee, T. Duchoň, F. Dvořák, V. Matolín, C. B. Murray, P. Fornasiero, R. J. Gorte:
            <cite>Unraveling the surface state and composition of highly selective nanocrystalline Ni–Cu alloy catalysts for hydrodeoxygenation
                of HMF</cite>.
            <strong>Catal. Sci. Technol. 7</strong> (2017) 1735,
            <a href="https://doi.org/10.1039/c6cy02647h" target="_blank">doi:10.1039/c6cy02647h</a>.</li>
        <li>Y. Lykhach, A. Bruix, S. Fabris, V. Potin, I. Matolínová, V. Matolín, J. Libuda, K. M. Neyman:
            <cite>Oxide-based nanomaterials for fuel cell catalysis: the interplay between supported single Pt atoms and particles</cite>.
            <strong>Catal. Sci. Technol. 7</strong> (2017) 4315,
            <a href="https://doi.org/10.1039/c7cy00710h" target="_blank">doi:10.1039/c7cy00710h</a>.</li>
        <li>Y. Lykhach, A. Figueroba, T. Skála, T. Duchoň, N. Tsud, M. Aulická, A. Neitzel, K. Veltruská, K. C. Prince, V. Matolín,
            K. M. Neyman, J. Libuda:
            <cite>Redox-mediated conversion of atomically dispersed platinum to sub-nanometer particles</cite>.
            <strong>J. Mater. Chem. A 5</strong> (2017) 9250,
            <a href="https://doi.org/10.1039/c7ta02204b" target="_blank">doi:10.1039/c7ta02204b</a>.</li>
        <li>M. Franke, D. Wechsler, Q. Tariq, M. Röckert, L. Zhang, P. Kumar Thakur, N. Tsud, S. Bercha, K. Prince, T.-L. Lee,
            H.-P. Steinrück, O. Lytken:
            <cite>Interfacial interactions between CoTPP molecules and MgO(100) thin films</cite>.
            <strong>Phys. Chem. Chem. Phys. 19</strong> (2017) 11549,
            <a href="https://doi.org/10.1039/c7cp00442g" target="_blank">doi:10.1039/c7cp00442g</a>.</li>
        <li>I. Khalakhan, M. Vorokhta, P. Kúš, M. Dopita, M. Václavů, R. Fiala, N. Tsud, T. Skála, V. Matolín:
            <cite>In situ probing of magnetron sputtered Pt-Ni alloy fuel cell catalysts during accelerated durability test using
                EC-AFM
            </cite>.
            <strong>Electrochim. Acta 245</strong> (2017) 760,
            <a href="https://doi.org/10.1016/j.electacta.2017.05.202" target="_blank">doi:10.1016/j.electacta.2017.05.202</a>.</li>
        <li>M. Burian, F. Rigodanza, H. Amenitsch, L. Almásy, I. Khalakhan, Z. Syrgiannis, M. Prato:
            <cite>Structural and optical properties of a perylene bisimide in aqueous media</cite>.
            <strong>Chem. Phys. Lett. 683</strong> (2017) 454,
            <a href="https://doi.org/10.1016/j.cplett.2017.03.056" target="_blank">doi:10.1016/j.cplett.2017.03.056</a>.</li>
        <li>M. Blatnik, C. Drechsel, N. Tsud, S. Surnev, F. Netzer:
            <cite>Decomposition of Methanol on Mixed CuO–CuWO
                <sub>4</sub> Surfaces</cite>.
            <strong>J. Phys. Chem. B 122</strong> (2017) 679,
            <a href="https://doi.org/10.1021/acs.jpcb.7b06233" target="_blank">doi:10.1021/acs.jpcb.7b06233</a>.</li>
        <li>S. Bercha, K. Beranová, R. G. Acres, M. Vorokhta, M. Dubau, I. Matolínová, T. Skála, K. C. Prince, V. Matolín, N.
            Tsud:
            <cite>Thermally Controlled Bonding of Adenine to Cerium Oxide: Effect of Substrate Stoichiometry, Morphology, Composition,
                and Molecular Deposition Technique</cite>.
            <strong>J. Phys. Chem. C 121</strong> (2017) 25118,
            <a href="https://doi.org/10.1021/acs.jpcc.7b06925" target="_blank">doi:10.1021/acs.jpcc.7b06925</a>.</li>
        <li>S. Ng, M. Krbal, R. Zazpe, J. Prikryl, J. Charvot, F. Dvořák, L. Strizik, S. Slang, H. Sopha, Y. Kosto, V. Matolin,
            F. K. Yam, F. Bures, J. M. Macak:
            <cite>MoSe x O y -Coated 1D TiO
                <sub>2</sub> Nanotube Layers: Efficient Interface for Light-Driven Applications</cite>.
            <strong>Adv. Mater. Interfaces 5</strong> (2017) 1701146,
            <a href="https://doi.org/10.1002/admi.201701146" target="_blank">doi:10.1002/admi.201701146</a>.</li>
        <li>V. Gargiulo, B. Alfano, R. Di Capua, M. Alfé, M. Vorokhta, T. Polichetti, E. Massera, M. L. Miglietta, C. Schiattarella,
            G. Di Francia:
            <cite>Graphene-like layers as promising chemiresistive sensing material for detection of alcohols at low concentration</cite>.
            <strong>J. Appl. Phys. 123</strong> (2018) 024503,
            <a href="https://doi.org/10.1063/1.5000914" target="_blank">doi:10.1063/1.5000914</a>.</li>
        <li>O. Leiko, Y. Kosto, K. Mašek:
            <cite>Structural and photoelectron studies of Sn-SnO
                <sub>
                    <var>x</var>
                </sub> and SnO
                <sub>2</sub> nanoparticles on TiO
                <sub>2</sub> (110) surface</cite>.
            <strong>Surf. Interface Anal. 50</strong> (2018) 1116,
            <a href="https://doi.org/10.1002/sia.6397" target="_blank">doi:10.1002/sia.6397</a>.</li>
        <li>A. Sápi, G. Halasi, J. Kiss, D. G. Dobó, K. L. Juhász, V. J. Kolcsár, Z. Ferencz, G. Vári, V. Matolin, A. Erdőhelyi,
            Á. Kukovecz, Z. Kónya:
            <cite>In Situ DRIFTS and NAP-XPS Exploration of the Complexity of CO
                <sub>2</sub> Hydrogenation over Size-Controlled Pt Nanoparticles Supported on Mesoporous NiO</cite>.
            <strong>J. Phys. Chem. C 122</strong> (2018) 5553,
            <a href="https://doi.org/10.1021/acs.jpcc.8b00061" target="_blank">doi:10.1021/acs.jpcc.8b00061</a>.</li>
        <li>V. Secchi, S. Franchi, M. Santi, A. Vladescu, M. Braic, T. Skála, J. Nováková, M. Dettin, A. Zamuner, G. Iucci, C.
            Battocchio:
            <cite>Biocompatible Materials Based on Self-Assembling Peptides on Ti
                <sub>25</sub>Nb
                <sub>10</sub>Zr Alloy: Molecular Structure and Organization Investigated by Synchrotron Radiation Induced Techniques</cite>.
            <strong>Nanomaterials 8</strong> (2018) 148,
            <a href="https://doi.org/10.3390/nano8030148" target="_blank">doi:10.3390/nano8030148</a>.</li>
        <li>I. Khalakhan, A. Choukourov, M. Vorokhta, P. Kúš, I. Matolínová, V. Matolín:
            <cite>In situ electrochemical AFM monitoring of the potential-dependent deterioration of platinum catalyst during potentiodynamic
                cycling
            </cite>.
            <strong>Ultramicroscopy 187</strong> (2018) 64,
            <a href="https://doi.org/10.1016/j.ultramic.2018.01.015" target="_blank">doi:10.1016/j.ultramic.2018.01.015</a>.</li>
        <li>F. Dvořák, L. Szabová, V. Johánek, M. Farnesi Camellone, V. Stetsovych, M. Vorokhta, A. Tovt, T. Skála, I. Matolínová,
            Y. Tateyama, J. Mysliveček, S. Fabris, V. Matolín:
            <cite>Bulk Hydroxylation and Effective Water Splitting by Highly Reduced Cerium Oxide: The Role of O Vacancy Coordination</cite>.
            <strong>ACS Catal. 8</strong> (2018) 4354,
            <a href="https://doi.org/10.1021/acscatal.7b04409" target="_blank">doi:10.1021/acscatal.7b04409</a>.</li>
        <li>O. B. Kondrat, R. M. Holomb, A. Csik, V. Takats, M. Veres, A. Feher, T. Duchon, K. Veltruska, M. Vondráček, N. Tsud,
            V. Matolin, K. C. Prince, V. M. Mitsa:
            <cite>Reversible structural changes of in situ prepared As
                <sub>40</sub>Se
                <sub>60</sub> nanolayers studied by XPS spectroscopy</cite>.
            <strong>Appl. Nanosci.</strong> (2018),
            <a href="https://doi.org/10.1007/s13204-018-0771-3" target="_blank">doi:10.1007/s13204-018-0771-3</a>.</li>
        <li>M. Schwarz, F. Faisal, S. Mohr, C. Hohner, K. Werner, T. Xu, T. Skála, N. Tsud, K. C. Prince, V. Matolín, Y. Lykhach,
            J. Libuda:
            <cite>Structure-Dependent Dissociation of Water on Cobalt Oxide</cite>.
            <strong>J. Phys. Chem. Lett. 9</strong> (2018) 2763,
            <a href="https://doi.org/10.1021/acs.jpclett.8b01033" target="_blank">doi:10.1021/acs.jpclett.8b01033</a>.</li>
        <li>M. Yoshitake, S. Nemšák, T. Skála, N. Tsud, V. Matolín, K. C. Prince:
            <cite>The influence of Si in Ni on the interface modification and the band alignment between Ni and alumina</cite>.
            <strong>Appl. Surf. Sci. 442</strong> (2018) 164,
            <a href="https://doi.org/10.1016/j.apsusc.2018.02.091" target="_blank">doi:10.1016/j.apsusc.2018.02.091</a>.</li>
        <li>M. Oliveira, J. Silva, K. Veltruská, V. Matolín, K. Sekhar, J. A. Moreira, M. Pereira, M. Gomes:
            <cite>Annealing induced effect on the physical properties of ion-beam sputtered 0.5 Ba(Zr
                <sub>0</sub>.2Ti0.8)O
                <sub>3</sub> – 0.5 (Ba
                <sub>0</sub>.7Ca0.3)TiO
                <sub>3</sub>-δ ferroelectric thin films</cite>.
            <strong>Appl. Surf. Sci. 443</strong> (2018) 354,
            <a href="https://doi.org/10.1016/j.apsusc.2018.02.269" target="_blank">doi:10.1016/j.apsusc.2018.02.269</a>.</li>
        <li>F. Faisal, C. Stumm, M. Bertram, F. Waidhas, Y. Lykhach, S. Cherevko, F. Xiang, M. Ammon, M. Vorokhta, B. Šmíd, T.
            Skála, N. Tsud, A. Neitzel, K. Beranová, K. C. Prince, S. Geiger, O. Kasian, T. Wähler, R. Schuster, M. A. Schneider,
            V. Matolín, K. J. J. Mayrhofer, O. Brummel, J. Libuda:
            <cite>Electrifying model catalysts for understanding electrocatalytic reactions in liquid electrolytes</cite>.
            <strong>Nat. Mater. 17</strong> (2018) 592,
            <a href="https://doi.org/10.1038/s41563-018-0088-3" target="_blank">doi:10.1038/s41563-018-0088-3</a>.</li>
        <li>Y. Lykhach, F. Faisal, T. Skála, A. Neitzel, N. Tsud, M. Vorokhta, F. Dvořák, K. Beranová, Y. Kosto, K. C. Prince,
            V. Matolín, J. Libuda:
            <cite>Interplay between the metal-support interaction and stability in Pt/Co
                <sub>3</sub>O
                <sub>4</sub>(111) model catalysts</cite>.
            <strong>J. Mater. Chem. A 6</strong> (2018) 23078,
            <a href="https://doi.org/10.1039/c8ta08142e" target="_blank">doi:10.1039/c8ta08142e</a>.</li>
        <li>R. G. Acres, X. Cheng, K. Beranová, S. Bercha, T. Skála, V. Matolín, Y. Xu, K. C. Prince, N. Tsud:
            <cite>An experimental and theoretical study of adenine adsorption on Au(111)</cite>.
            <strong>Phys. Chem. Chem. Phys. 20</strong> (2018) 4688,
            <a href="https://doi.org/10.1039/c7cp08102b" target="_blank">doi:10.1039/c7cp08102b</a>.</li>
        <li>A. Bjelajac, R. Petrović, V. Djokic, V. Matolin, M. Vondraček, K. Dembele, S. Moldovan, O. Ersen, G. Socol, I. N.
            Mihailescu, D. Janaćković:
            <cite>Enhanced absorption of TiO
                <sub>2</sub> nanotubes by N-doping and CdS quantum dots sensitization: insight into the structure</cite>.
            <strong>RSC Adv. 8</strong> (2018) 35073,
            <a href="https://doi.org/10.1039/c8ra06341a" target="_blank">doi:10.1039/c8ra06341a</a>.</li>
        <li>F. Faisal, M. Bertram, C. Stumm, T. Wähler, R. Schuster, Y. Lykhach, A. Neitzel, T. Skála, N. Tsud, K. Beranová,
            K. C. Prince, V. Matolín, O. Brummel, J. Libuda:
            <cite>Electrocatalysis with Atomically Defined Model Systems: Metal–Support Interactions between Pt Nanoparticles and
                Co
                <sub>3</sub>O
                <sub>4</sub>(111) under Ultrahigh Vacuum and in Liquid Electrolytes</cite>.
            <strong>J. Phys. Chem. C 122</strong> (2018) 20787,
            <a href="https://doi.org/10.1021/acs.jpcc.8b05594" target="_blank">doi:10.1021/acs.jpcc.8b05594</a>.</li>
        <li>I. Khalakhan, F. Waidhas, O. Brummel, M. Vorokhta, P. Kúš, Y. V. Yakovlev, M. Bertram, M. Dopita, I. Matolínová,
            J. Libuda, V. Matolín:
            <cite>Nanoscale Morphological and Structural Transformations of PtCu Alloy Electrocatalysts during Potentiodynamic
                Cycling
            </cite>.
            <strong>J. Phys. Chem. C 122</strong> (2018) 21974,
            <a href="https://doi.org/10.1021/acs.jpcc.8b06840" target="_blank">doi:10.1021/acs.jpcc.8b06840</a>.</li>
        <li>M. Corva, F. Mohamed, E. Tomsic, Z. Feng, T. Skala, G. Comelli, N. Seriani, M. Peressi, E. Vesselli:
            <cite>Substrate- to Laterally-Driven Self-Assembly Steered by Cu Nanoclusters: The Case of FePcs on an Ultrathin Alumina
                Film
            </cite>.
            <strong>ACS Nano 12</strong> (2018) 10755,
            <a href="https://doi.org/10.1021/acsnano.8b05992" target="_blank">doi:10.1021/acsnano.8b05992</a>.</li>
        <li>M. Kot, L. Kegelmann, C. Das, P. Kus, N. Tsud, I. Matolinova, S. Albrecht, V. Matolin, D. Schmeisser:
            <cite>Room-Temperature Atomic-Layer-Deposited Al
                <sub>2</sub>O
                <sub>3</sub> Improves the Efficiency of Perovskite Solar Cells over Time</cite>.
            <strong>ChemSusChem 11</strong> (2018) 3640,
            <a href="https://doi.org/10.1002/cssc.201801434" target="_blank">doi:10.1002/cssc.201801434</a>.</li>
        <li>M. Vorokhta, I. Khalakhan, M. Vondráček, D. Tomeček, M. Vorokhta, E. Marešová, J. Nováková, J. Vlček, P. Fitl, M.
            Novotný, P. Hozák, J. Lančok, M. Vrňata, I. Matolínová, V. Matolín:
            <cite>Investigation of gas sensing mechanism of SnO
                <sub>2</sub> based chemiresistor using near ambient pressure XPS</cite>.
            <strong>Surf. Sci. 677</strong> (2018) 284,
            <a href="https://doi.org/10.1016/j.susc.2018.08.003" target="_blank">doi:10.1016/j.susc.2018.08.003</a>.</li>
        <li>R. Holomb, O. Kondrat, V. Mitsa, M. Veres, A. Czitrovszky, A. Feher, N. Tsud, M. Vondráček, K. Veltruská, V. Matolín,
            K. C. Prince:
            <cite>Super-bandgap light stimulated reversible transformation and laser-driven mass transport at the surface of As
                <sub>2</sub>S
                <sub>3</sub> chalcogenide nanolayers studied in situ</cite>.
            <strong>J. Chem. Phys. 149</strong> (2018) 214702,
            <a href="https://doi.org/10.1063/1.5053228" target="_blank">doi:10.1063/1.5053228</a>.</li>
        <li>O. Brummel, Y. Lykhach, M. Vorokhta, B. Šmíd, C. Stumm, F. Faisal, T. Skála, N. Tsud, A. Neitzel, K. Beranová, K.
            C. Prince, V. Matolín, J. Libuda:
            <cite>Redox Behavior of Pt/Co
                <sub>3</sub>O
                <sub>4</sub>(111) Model Electrocatalyst Studied by X-ray Photoelectron Spectroscopy Coupled with an Electrochemical
                Cell
            </cite>.
            <strong>J. Phys. Chem. C 123</strong> (2019) 8746,
            <a href="https://doi.org/10.1021/acs.jpcc.8b08890" target="_blank">doi:10.1021/acs.jpcc.8b08890</a>.</li>
        <li>A. Tovt, L. Bagolini, F. Dvořák, N.-D. Tran, M. Vorokhta, K. Beranová, V. Johánek, M. Farnesi Camellone, T. Skála,
            I. Matolínová, J. Mysliveček, S. Fabris, V. Matolín:
            <cite>Ultimate dispersion of metallic and ionic platinum on ceria</cite>.
            <strong>J. Mater. Chem. A 7</strong> (2019) 13019,
            <a href="https://doi.org/10.1039/c9ta00823c" target="_blank">doi:10.1039/c9ta00823c</a>.</li>
    </ol>
</div>
</div>
</div>
</div>
</div>

<!-- <div class="container-fluid"> -->
<div class="row">
    <div class="col-6">
        <p>la</p>
    </div>
    <div class="col-6">
        <p>la</p>
    </div>
</div>
<!-- </div> -->

</div>
{% endblock %}